{% extends 'base.html' %}
{% block header %} 
  Записи сообщества{{ group.title }} 
{% endblock %}
{% block h1 %}
   {{ group.title }}
{% endblock %}
{% block content %}  
  {% include 'posts/includes/switcher.html' %}
  <p> {{description}} </p>
  {% for post in page_obj %}
    {% block content_sample %}
      {% include 'includes/content_sample.html' %}
    {% endblock %}
    <br>  
     <a href="{% url 'posts:post_detail' post.id %}">Подробнее</a>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
{% endblock %}
